@media (max-width: $media_xl) {
    main {
      .container_product_card {
        padding: 0 10px;
        
      }
    }
  }

  @media (max-width: $media_l) {
    main {
      .container_product_card {
        .information {
          .information_img_wrap {
            flex: 0 0 320px;
          }

          .information_text {
            .information_title {
              font-size: 24px;
            }

            .information_discr {
              font-size: 20px;
            }
            
              .information_btn_wrapper {
                width: 160px;
                height: 40px;

                .product_to_busket {
                  font-size: 18px;
                }
              }
            
          }
        }

        .composition {
          font-size: 18px;
        }
      }
    }
  }

  @media (max-width: $media_m) {
    main {
      .container_product_card {
        .information {
          flex-direction: column;

          .information_img_wrap {
            width: 60%;
            margin: 0 auto;
          }
        }
      }
    }
  }

  @media (max-width: $media_s) {
    main {
      .container_product_card {
        .information {
          .information_img_wrap {
            width: 80%;
          }

          .information_text {
            font-size: 16px;
          }
        }

        .composition {
          font-size: 16px;
        }
      }
    }
  }