@media (max-width: $media_s) {
  main {
    .container_delivery {
      .pay {
        margin-bottom: 20px;

        .pay_title {
          width: 100%;
          height: 60px;

          h4 {
            padding: 20px;
            font-size: 18px;
          }
        }

        .pay_text {
          padding: 20px;
          border: none;

          p {
            padding: 8px;
            margin-bottom: 20px;
            font-size: 18px;
          }
        }
      }

      .delivery {
        .delivery_title {
          width: 100%;
          height: 80px;
          padding-left: 20px;

          h4 {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }

        .delivery_text {
          padding: 20px;
          border: none;

          p {
            padding: 8px;
            margin-bottom: 20px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
