@media (max-width: $media_xl) {
  footer {
    .container {
      .first_side_footer {
        width: 100%;
      }
      .second_side_footer {
        .second_side_wrapper {
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
}

@media (max-width: $media_l) {
  footer {
    .container {
      .second_side_footer {
        .second_side_wrapper {
          font-size: 16px;
          .tel_and_pay {
            .telephone {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: $media_m) {
  footer {
    .container {
      .second_side_footer {
        .second_side_wrapper {
          display: flex;
          flex-direction: column;
          .work_time {
            padding-left: 10px;
            margin-bottom: 10px;
          }
          .tel_and_pay {
            display: flex;
          }
        }
      }
    }
  }
}
@media (max-width: $media_s) {
  footer {
    .container {
      .second_side_footer {
        .second_side_wrapper {
          .tel_and_pay {
            flex-direction: column;
          }
        }
      }
    }
  }
}
